/** CSS STYLE **/

:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --dark-50: #908d8b;
  --dark: #2a2626;
  --brown: #b09a81;
  --primary: #fe8a02;
  --primary-dark: #42413c;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

/* neucha-regular - latin */
@font-face {
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Neucha-Regular.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--primary);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.margin-0 {
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: 0 30px;
}

.flex-512 {
  flex: 0 0 512px;
}

.flex-1110 {
  flex: 0 0 1110px;
}

.order-minus-1 {
  order: -1;
}

.container {
  position: relative;
  max-width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-decoration {
  text-decoration: none;
}

.text-dark {
  color: var(--dark);
}

.text-dark-50 {
  color: var(--dark-50);
}

.text-white {
  color: var(--white);
}

.text-white-50 {
  color: var(--white-50);
}

.text-brown {
  color: var(--brown);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.background-white {
  background-color: var(--white);
}

.background-light {
  background: var(--light);
}

.background-brown {
  background: var(--brown);
}

/* header css style start */
.background-img {
  position: relative;
}

.background-img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header {
  margin-top: 0;
  margin-bottom: 185px;
}

.primary {
  color: var(--primary);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.container-items {
  display: flex;
  gap: 30px;
}

.items-width {
  width: calc(50% - 15px);
}

.button {
  display: inline-block;
  background: var(--primary);
  color: var(--white);
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 700;
}

.button:hover {
  background: #ea7600;
}

/* header css style end */

/* section video css style start */
.text-center {
  text-align: center;
}

.h2-margin {
  margin: 0 0 30px;
}

.video-position {
  position: relative;
  bottom: -200px;
  margin-top: -200px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* section video css style end */

/* section main css style start */
.bg-primary-dark {
  background-color: var(--primary-dark);
}

.cards {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.contents {
  max-width: 350px;
}

.card {
  padding: 24px;
  flex: 0 0 calc(33.3% - 68px);
}

.card:hover {
  background-color: var(--primary);
}

.card:hover .hover-text-color {
  color: var(--white);
}

.bg-link {
  background-color: var(--light);
}

.font-size-52 {
  font-size: 52px;
}

.number {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

/* section main css style end */

/* section css style start */

.section-contents {
  max-width: 502px;
}

.about {
  margin: 0;
  font-family: Neucha, sans-serif;
  font-size: 24px;
}

.section-header {
  margin: 0 0 30px;
}

.section-content {
  font-size: 34px;
}

.appear {
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 100px 0 20px;
  height: 26px;
  align-self: flex-start;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.section-text {
  margin: 0;
  flex: 0 0 540px;
}

/* section css style end */
